body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stepper {
  display: flex;
  margin: 30px 0 0 0;  
  padding-left: 20px;
  width: 100%;
  list-style: none;
  position: relative;
}

.stepper__item {
  flex: 100%;
  padding: 20px 20px 20px 40px;
  background: #d3d3d3;
  margin: 0 0 0 -19px;
  font-weight: bold;
  -webkit-clip-path: polygon(20px 50%, 0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
  
}

.stepper__item.current {
    background: #0050d8;
    font-weight: bold;
    color: white;
  }
  
  .stepper__item.complete {
    background: #efeeee;
    color: #d3d3d3;
    font-weight: normal;
  }
  
  .stepper__item:first-child {
    padding: 20px;
    -webkit-clip-path: polygon(0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
  }
  
  .stepper__item:last-child {
    -webkit-clip-path: polygon(20px 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
