@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  color: black;
}

p {
  color: #002E6D;
  font-family: 'Roboto';
}

h6 {
  color: black;
}


.link {     
  text-decoration-color: blue; 
  cursor: pointer;
  float: left;
}

.link:hover {
  text-decoration: underline;
}


.stage {
  display: flex;
  margin: 30px 0 0 0;  
  padding-left: 20px;
  width: 100%;
  list-style: none;
  position: relative;
}

.stage_item {
  flex: 100%;
  padding: 20px 20px 20px 40px;
  background: #DBDBDB;
  color: #002E6D;
  margin: 0 0 0 -19px;
  font-weight: bold;
  -webkit-clip-path: polygon(20px 50%, 0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
}

.stage_item.current {
    background: #DBDBDB;
    text-decoration: underline; 
    font-weight: bold;
    color: #002E6D;
}
  
.stage_item.complete {
  background: #DBDBDB;
  color: #002d6d62;
  font-weight: bold;
}
  
.stage_item:first-child {
  padding: 20px;
  -webkit-clip-path: polygon(0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
}
  
.stage_item:last-child {
  -webkit-clip-path: polygon(20px 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.welcomeDash {
  padding-top: 35px;
  padding-bottom: 35px;
  color: #002E6D;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 22px;
}

.welcomeDoc {
  padding-top: 35px;
  padding-bottom: 10px;
  text-decoration-line: underline;
  font-display: ;
  color: #002E6D;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 22px;
}

.containerDash {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap: 20px;
}

.containerDoc {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap: 20px;

}
.boxDoc{
  height:20px;
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: #002E6D;
}

.box{
  height:200px;
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: #002E6D;
}

.signInButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginTitleOne {
  text-align: center;
  color: #002E6D;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold
}

.LoginTitleTwo {
  text-align: center;
  color: #002E6D;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: normal;

}

.submit {
  text-align: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dropdown Button */
.dropbtn {
  background-color: #CC0000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  position: fixed;
  bottom: 60px;
  right: 110px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position: fixed;
  bottom: 20px;
  right: 50px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #002E6D;
  padding: 12px 16px;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #9b0000;}



.subDocument {
  transition: all .2s ease-in-out;
}

.subDocument:hover {
  transform: scale(1.1);
}

.steps {
  display:inline-block;
  width: 75%;
}

.documents {
  display:inline-block;
}

.btn-right {
  float: right;
  width: 200px;
  color: white;
}


.text-left {
  float:left;
  font-weight: bold;
  color: black;
}

.data-tooltip-inner {
  white-space: pre-wrap;
}

.black {
  color:black;
}

.btn-primary {
  background-color: #205493;
}

#red {
  color: #CC0000;
}

#bold {
  font-weight: bold;
}

#quote {
  text-align: center;
}


